/*Fade*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-leave-to {
  opacity: 0;
}

/*Slide Y*/
.slide-fade-y-enter {
  transform: translateY(100%);
  opacity: 0;
}

.slide-fade-y-enter-active,
.slide-fade-y-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-y-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

/*Slide X*/
.slide-fade-x-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-fade-x-enter-active,
.slide-fade-x-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-x-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

/*Slide -X*/
.slide-fade-minus-x-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-fade-minus-x-enter-active,
.slide-fade-minus-x-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-minus-x-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

/*DIV FOR SLIDE-FADE*/
.main-slide-fade-container {
  position: fixed;
  background-color: #1a2931;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: #ad00ff 1px solid;
  border-radius: 5px;
  z-index: 999;
  padding: 0 10px;
  overflow-x: hidden;
}

.hide__main-slide-fade-container {
  position: absolute;
  top: 0;
  text-align: center;
}

.hide-icon__main-slide-fade-container {
  font-size: 3em;
  color: #ad00ff;
}

.hide-icon__main-slide-fade-container:hover {
  color: #b388ff;
}

.hide-icon__main-slide-fade-container:active {
  color: #c3a1ff;
}

.murrengan-logo {
  width: 100px;
  opacity: 0.9;
}

.murrengan-logo:hover {
  opacity: 1;
}
