@import "../../../assets/scss/variables.scss";

.m-profile {
  font-family: "Open Sans", sans;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__greetings {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $white-light;
  }

  &__avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;

    &-img {
      max-width: 100%;
      display: block;
      cursor: pointer;
    }

    &-overlay {
      opacity: 0;
      visibility: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: rgba(#000, 0.75);

      transition: opacity 250ms ease, visibility 150ms ease;
    }

    &-upload {
      color: $white-light;
      border: 1px solid $white-light;
      padding: 0.5rem 0.25rem;

      &:hover,
      &:active,
      &:focus {
        color: $white;
        border: 1px solid $white;
        background-color: rgba($white, 0.2);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &:hover &-overlay {
      opacity: 1;
      visibility: visible;
    }

    &-file {
      display: none;
    }
  }

  &__username {
    font-size: 1.5rem;
  }

  &__information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__nickname {
    & + & {
      margin-left: 1rem;
    }
    font-size: 1rem;
  }

  &__signout {
    margin-top: 2rem;
  }

  &__cropper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: rgba($dark, 0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
      background: $dark-accent-primary;
      padding: 10px;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-loader {
      margin-bottom: 20px;
    }

    &-crop {
      .cropper-modal {
        opacity: 0.65;
      }

      .cropper-view-box {
        border-radius: 50%;
      }

      margin-bottom: 20px;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
