<template>
  <div class="home-main-container">
    <loader v-if="isLoading" />

    <div v-if="!isLoading" class="m-profile">
      <h2 class="m-profile__greetings">
        Это личная страничка Муррена
      </h2>

      <div class="m-profile__cropper" v-if="isShowModalAvatarUpload">
        <div class="m-profile__cropper-container">
          <h3 class="m-profile__cropper-title">
            Загрузка нового аватара
          </h3>

          <div
            class="m-profile__cropper-loader"
            v-if="isUploadingAvatarToResize"
          >
            <loader />
          </div>

          <vue-cropper
            v-if="!isUploadingAvatarToResize"
            ref="cropper"
            :view-mode="1"
            :src="avatarBlobUrl"
            :movable="false"
            :rotatable="false"
            :scalable="false"
            :zoomable="false"
            :background="false"
            @crop="handlerCrop"
            :minCropBoxWidth="150"
            :minCropBoxHeight="150"
            :aspectRatio="1 / 1"
            :key="avatarBlobUrl"
            class="m-profile__cropper-crop"
          />

          <div class="m-profile__cropper-actions">
            <el-button
              type="primary"
              size="small"
              @click="onUploadAvatar"
              :loading="isUploading"
            >
              Загрузить
            </el-button>

            <el-button
              type="danger"
              size="small"
              @click="onCloseModalAvatarUpload"
            >
              Отменить
            </el-button>
          </div>
        </div>
      </div>

      <div class="m-profile__avatar">
        <img
          :src="murrenAvatar"
          :alt="murren.username"
          class="m-profile__avatar-img"
        />

        <div class="m-profile__avatar-overlay">
          <el-button
            size="small"
            type="text"
            class="m-profile__avatar-upload"
            @click="$refs.inputSelectAvatarFile.click()"
          >
            Изменить аватар
          </el-button>

          <input
            class="m-profile__avatar-file"
            ref="inputSelectAvatarFile"
            type="file"
            :accept="acceptMimeTypes"
            @change="onOpenModalAvatarUpload($event)"
          />
        </div>
      </div>

      <h1 class="m-profile__username">{{ murren.username }}</h1>

      <div class="m-profile__information">
        <div class="m-profile__nickname">@{{ murren.username }}</div>
      </div>

      <el-button
        class="m-profile__signout murr-button__danger"
        @click="onSignout"
      >
        Выйти
      </el-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";

import {
  MURREN_FETCH_ME_PROFILE,
  MURREN_AVATAR_RESIZE,
  MURREN_AVATAR_UPDATE,
  MURREN_AVATAR_CANCEL_UPLOAD,
} from "../store/type.js";
import "../scss/profile.scss";

export default {
  name: "MurrenProfile",

  components: {
    VueCropper,
  },

  data: () => ({
    isLoading: true,
    avatarBlob: null,
    avatarBlobUrl: null,
    isShowModalAvatarUpload: false,
    isUploadingAvatarToResize: false,
    isUploading: false,
    acceptMimeTypes: "image/jpeg, image/png, image/webp",
    crop: {
      width: 0,
      height: 0,
      x: 0,
      y: 0,
    },
  }),

  computed: {
    murren() {
      return this.$store.state.murren.profileData;
    },

    murrenAvatar() {
      if (this.murren.avatar.includes('default_murren_avatar.png')) {
        return this.murren.avatar
      }
      return this.murren.avatar + "?_time=" + Date.now();
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
    }),

    async fetchMurrenProfile() {
      return await this.$store.dispatch(MURREN_FETCH_ME_PROFILE);
    },

    onSignout() {
      this.notification({
        message: "Ты разлогинился 😱",
        type: "success",
      });

      this.$store.dispatch("logout");
      this.$router.push("/");
    },

    async onOpenModalAvatarUpload({ target }) {
      const avatar = target.files[0];

      if (avatar.type.indexOf("image/") === -1) {
        alert("Please select an image file");
        return;
      }

      this.isShowModalAvatarUpload = true;
      this.isUploadingAvatarToResize = true;

      const { success, data } = await this.$store.dispatch(
        MURREN_AVATAR_RESIZE,
        {
          avatar,
        }
      );

      if (success) {
        this.avatarBlob = data;
        this.avatarBlobUrl = URL.createObjectURL(this.avatarBlob);
      } else {
        this.isShowModalAvatarUpload = false;
      }

      this.isUploadingAvatarToResize = false;
      this.$refs.inputSelectAvatarFile.value = "";
    },

    async onUploadAvatar() {
      this.isUploading = true;

      await this.$store.dispatch(MURREN_AVATAR_UPDATE, {
        avatar: this.avatarBlob,
        crop: this.crop,
      });

      this.isUploading = false;

      this.clearTemporaryDataAvatarUpload();
    },

    onCloseModalAvatarUpload() {
      this.$store
        .dispatch(MURREN_AVATAR_CANCEL_UPLOAD)
        .then(() => this.clearTemporaryDataAvatarUpload());
    },

    handlerCrop({ detail }) {
      this.crop = detail;
    },

    clearTemporaryDataAvatarUpload() {
      this.isShowModalAvatarUpload = false;
      URL.revokeObjectURL(this.avatarBlobUrl);
      this.avatarBlobUrl = null;
      this.avatarBlob = null;
    },
  },

  async created() {
    this.isLoading = true;

    const { success } = await this.fetchMurrenProfile();

    if (success) {
      this.isLoading = false;
    } else {
      this.notification({
        message: "Что-то пошло не по плану 😮",
        type: "success",
      });

      this.$store.dispatch("logout");
      this.$router.push("/");
    }
  },
};
</script>
